# See https://help.github.com/ignore-files/ for more about ignoring files.

# data file can be generated
gbif_data.csv
vdem_variables.csv

# dependencies
/node_modules

# testing
/coverage

# production
/build
/.Rproj.user
.Rhistory
Bio-Dem.Rproj

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# data
.Rproj.user

# manuscript
/manuscript
nee_examples/
output/
data/
old/
input/
*.pdf

# figures
figures/*.jpg
figures/*.svg
figures/*.png

